[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
requests = "*"
geopy = "*"
seaborn = "*"
scipy = "*"
folium = "*"
geopandas = "*"
pygeos = "*"
rtree = "*"
lxml = "*"
openpyxl = "*"
sqlalchemy = "*"
scikit-learn = "*"
plotly = "*"
statsmodels = "*"
tensorflow = {extras = ["cpu"], version = "*"}
scikeras = "*"
pmdarima = "*"

[dev-packages]

[requires]
python_version = "3.9"
